@charset "utf-8";

body
{
    background-color: darkgoldenrod;
    color:darkmagenta;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 18 px; /*ADDED FROM GITHUB*/
}
